$primary-color: #ff6000;
$secondary-color: #3d3f3c;

.navContainer {
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 120px;
  transition: padding 0.3s ease-in-out;

  &_logo {
    display: flex;
    flex-direction: row;
    gap: 16px;

    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }

    &_first {
      width: 40px;
      height: 40px;
      background-color: $primary-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 18px;
      color: wheat;
    }

    &_name {
      font-size: 18px;
      color: wheat;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_links {
    a {
      cursor: pointer;
      padding: 0 40px;
      color: wheat;
      text-decoration: none;
    }
    a.active {
      color: $primary-color;
    }
  }

  &_active {
  }

  &_menu-icon {
    display: none; // initially hide the menu icon
  }

  &_social-links {
    display: flex;
    gap: 32px;
    a {
      text-decoration: none;
      cursor: pointer;

      // &_icon {
      //   color: #ff6000;
      //   transition: transform 0.3s ease-in-out;
      // }

      // &_icon:hover {
      //   transform: rotate(180deg);
      // }
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    padding: 20px 60px;
  }

  @media (max-width: 800px) {
    padding: 20px 30px;
  }

  @media (max-width: 600px) {
    padding: 20px 15px;
  }

  @media (max-width: 400px) {
    padding: 20px 10px;
  }
}

/* Media query for screens with a max-width of 800px */
@media (max-width: 800px) {
  .navContainer_links {
    display: none; /* Hide full navigation on small screens */
  }

  .navContainer_menu-icon {
    display: block; /* Show the menu icon on small screens */
    font-size: 24px;
    cursor: pointer;
  }
}

@media (max-width: 432px) {
  .navContainer_logo_name {
    display: none;
  }
}
